openapi: 3.0.0 # need this as first line to allow some IDEs to know this is an openapi document.
# All endpoints defined here will be discoverable by all users. If there is a need to keep some endpoints "private", add them to the "managed-services-api-private.yaml" file
info:
  title: Decision Service Fleet Manager
  version: 0.0.1
  description: Decision Service Fleet Manager is a Rest API to manage decision instances and connectors.
servers:
  - url: https://api.openshift.com
    description: Main (production) server
  - url: https://api.stage.openshift.com
    description: Staging server
  - url: http://localhost:8000
    description: localhost
  - url: /
    description: current domain
paths:
  /decisions/{id}:
    get:
      operationId: getDecisionById
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionRequest"
              examples:
                DecisionRequestGetResponseExample:
                  $ref: "#/components/examples/DecisionRequestExample"
                DecisionRequestGetResponseWithFailedCreationStatusExample:
                  $ref: "#/components/examples/DecisionRequestFailedCreationStatusExample"
          description: Decision request found by id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                403Example:
                  $ref: "#/components/examples/403Example"
          description: User not authorized to access the service.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "#/components/examples/404Example"
          description: No decision request with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "#/components/examples/500Example"
          description: Unexpected error occurred
      security:
        - Bearer: []
      summary: Get a decision request by id
    delete:
      operationId: deleteDecisionById
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
              #No Content
          description: Deleted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                400DeletionExample:
                  $ref: "#/components/examples/400DeletionExample"
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                403Example:
                  $ref: "#/components/examples/403Example"
          description: User not authorized to access the service.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                404DeleteExample:
                  $ref: "#/components/examples/404DeleteExample"
          description: No decision request with specified id exists
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                500DeleteExample:
                  $ref: "#/components/examples/500DeleteExample"
          description: Unexpected error occurred
      summary: Delete a decision request by id
      security:
        - Bearer: []
    parameters:
      - $ref: "#/components/parameters/id"
  /decisions:
    post:
      operationId: createDecision
      parameters:
        - in: query
          name: async
          description: Perform the action in an asynchronous manner
          schema:
            type: boolean
          required: true
      requestBody:
        description: Decision data
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DecisionRequestPayload"
            examples:
              USRegion:
                $ref: "#/components/examples/USRegionExample"
              EURegion:
                $ref: "#/components/examples/EURegionExample"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionRequest"
              examples:
                DecisionRequestPostResponseExample:
                  $ref: "#/components/examples/DecisionRequestExample"
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                400CreationExample:
                  $ref: "#/components/examples/400CreationExample"
          description: Validation errors occurred
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
          description: Auth token is invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                403Example:
                  $ref: "#/components/examples/403Example"
                403MaxAllowedInstanceReachedExample:
                  $ref: "#/components/examples/403MaxAllowedInstanceReachedExample"
          description: User forbidden either because the user is not authorized to access the service or because the maximum number of instances that can be created by this user has been reached.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                404Example:
                  $ref: "#/components/examples/404Example"
          description: The requested resource doesn't exist
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                409NameConflictExample:
                  $ref: "#/components/examples/409NameConflictExample"
          description: A conflict has been detected in the creation of this resource
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "#/components/examples/500Example"
          description: An unexpected error occurred creating the Decision Request
      security:
        - Bearer: []
      summary: Create a new decision Request
    get:
      summary: Returns a list of Decision requests
      operationId: listDecisions
      security:
        - Bearer: []
      responses:
        "200":
          description: A list of Decision requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DecisionList"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                InvalidQueryExample:
                  $ref: "#/components/examples/400InvalidQueryExample"
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                403Example:
                  $ref: "#/components/examples/403Example"
          description: User not authorized to access the service.
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "#/components/examples/500Example"
      #parameters:
        #- $ref: "#/components/parameters/page"
        #- $ref: "#/components/parameters/size"
        #- $ref: "#/components/parameters/orderBy"
        #- $ref: "#/components/parameters/search"
  #
  # These are the user-facing related endpoints
  #
  /decisions/{id}/metrics/query_range:
    get:
      summary: Get metrics with timeseries range query by decision id.
      operationId: GetMetricsByRangeQuery
      security:
        - Bearer: []
      responses:
        "200":
          description: A JSON array of prometheus metrics objects from observatorium
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsRangeQueryList"
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "#/components/examples/500Example"
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/duration"
        - $ref: "#/components/parameters/interval"
        - $ref: "#/components/parameters/filters"
  /decisions/{id}/metrics/query:
    get:
      summary: Get metrics with instant query by decision id.
      operationId: GetMetricsByInstantQuery
      security:
        - Bearer: []
      responses:
        "200":
          description: A JSON array of prometheus metrics objects from observatorium
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetricsInstantQueryList"
        "401":
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                401Example:
                  $ref: "#/components/examples/401Example"
        "500":
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                500Example:
                  $ref: "#/components/examples/500Example"
      parameters:
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/filters"

components:
  schemas:
    ObjectReference:
      type: object
      properties:
        id:
          type: string
        kind:
          type: string
        href:
          type: string
    List:
      required:
        - kind
        #- page
        #- size
        #- total
        - items
      type: object
      properties:
        kind:
          type: string
        page:
          type: integer
        size:
          type: integer
        total:
          type: integer
    Error:
      allOf:
        - $ref: "#/components/schemas/ObjectReference"
        - type: object
          properties:
            code:
              type: string
            reason:
              type: string
            operation_id:
              type: string
    DecisionRequest:
      allOf:
        - $ref: "#/components/schemas/ObjectReference"
        - type: object
          properties:
            status:
              type: string
            status_message:
              type: string
            description:
              type: string
            name:
              type: string
            url:
              type: string
            model:
              type: object
              properties:
                md5:
                  type: string
                href:
                  type: string
            eventing:
              type: object
              properties:
                kafka:
                  type: object
                  properties:
                    source:
                      type: string
                    sink:
                      type: string
            submitted_at:
              format: date-time
              type: string
            published_at:
              format: date-time
              type: string
            configuration:
              type: object
              additionalProperties:
                type: string
            tags:
              type: object
              additionalProperties:
                type: string
            version:
              type: int
          example:
            $ref: "#/components/examples/DecisionRequestExample"
    DecisionList:
      allOf:
        - $ref: "#/components/schemas/List"
        - type: object
          example:
            kind: "DecisionList"
            page: "1"
            size: "1"
            total: "1"
            item:
              $ref: "#/components/examples/DecisionRequestExample"
          properties:
            items:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/DecisionRequest"
    DecisionRequestPayload:
      allOf:
        - $ref: "#/components/schemas/ObjectReference"
        - description: Schema for the request body sent to /decisions POST
          required:
            - name
            - description
            - model
          type: object
          properties:
            name:
              description: "The name of the Decision cluster. It must consist of lower-case alphanumeric characters or '-', start with an alphabetic character, and end with an alphanumeric character, and can not be longer than 32 characters."
              type: string
            description:
              type: string
            model:
              required:
                - dmn
              type: object
              properties:
                dmn:
                  type: string
            eventing:
              type: object
              properties:
                kafka:
                  type: object
                  properties:
                    source:
                      type: string
                    sink:
                      type: string
            configuration:
              type: object
              additionalProperties:
                type: string
            tags:
              type: object
              additionalProperties:
                type: string
      example:
        $ref: "#/components/examples/DecisionRequestPayloadExample"
    # user-facing metrics related #
    MetricsRangeQueryList:
      allOf:
        - type: object
          example:
            kind: "MetricsRangeQueryList"
            id: "1nbpS70HduPe4l0to8jSg2CLzfu"
            items:
              $ref: "#/components/examples/MetricsRangeQueryExample"
          properties:
            kind:
              type: string
            id:
              type: string
            items:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/RangeQuery"
    RangeQuery:
      type: object
      properties:
        metric:
          type: object
          additionalProperties:
            type: string
        values:
          type: array
          items:
            $ref: "#/components/schemas/values"
    values:
      type: object
      properties:
        Timestamp:
          type: integer
          format: int64
        Value:
          type: number
          format: double
      required:
        - Value
    MetricsInstantQueryList:
      allOf:
        - type: object
          example:
            kind: "MetricsInstantQueryList"
            id: "1nbpS70HduPe4l0to8jSg2CLzfu"
            items:
              $ref: "#/components/examples/MetricsInstantQueryExample"
          properties:
            kind:
              type: string
            id:
              type: string
            items:
              type: array
              items:
                allOf:
                  - $ref: "#/components/schemas/InstantQuery"
    InstantQuery:
      type: object
      properties:
        metric:
          type: object
          additionalProperties:
            type: string
        Timestamp:
          type: integer
          format: int64
        Value:
          type: number
          format: double
      required:
        - Value

  parameters:
    id:
      name: id
      description: The id of record
      schema:
        type: string
      in: path
      required: true
    duration:
      name: duration
      in: query
      description: The length of time in minutes over which to return the metrics.
      required: true
      schema:
        type: integer
        format: int64
        default: 5
        minimum: 1
        maximum: 4320
      examples:
        duration:
          value: 5
    interval:
      name: interval
      in: query
      description: The interval in seconds between data points.
      required: true
      schema:
        type: integer
        format: int64
        default: 30
        minimum: 1
        maximum: 10800
      examples:
        interval:
          value: 30
    filters:
      name: filters
      in: query
      description: List of metrics to fetch. Fetch all metrics when empty. List entries are decision internal metric names.
      schema:
        type: array
        items:
          type: string
        default: []
    page:
      name: page
      in: query
      description: Page index
      required: false
      schema:
        type: string
      examples:
        page:
          value: "1"
    size:
      name: size
      in: query
      description: Number of items in each page
      required: false
      schema:
        type: string
      examples:
        size:
          value: "100"
    orderBy:
      description: |-
        Specifies the order by criteria. The syntax of this parameter is
        similar to the syntax of the _order by_ clause of an SQL statement.
        Each query can be ordered by any of the decisionRequests fields.
        For example, in order to retrieve all decisions ordered by their name:

        ```sql
        name asc
        ```

        Or in order to retrieve all decisions ordered by their name _and_ created date:

        ```sql
        name asc, created_at asc
        ```

        If the parameter isn't provided, or if the value is empty, then
        the results will be ordered by name.
      explode: true
      examples:
        orderBy:
          value: "name asc"
      in: query
      name: orderBy
      required: false
      schema:
        type: string
      style: form
    search:
      description: |
        Search criteria.

        The syntax of this parameter is similar to the syntax of the _where_ clause of an
        SQL statement. Allowed fields in the search are: cloud_provider, name, owner, region and status. Allowed comparators are `<>`, `=` or `LIKE`.
        Allowed joins are `AND` and `OR`, however there is a limit of max 10 joins in the search query.

        Examples:

        To retrieve decision request with name equal `my-decision` and region equal `aws`, the value should be:

        ```
        name = my-decision and cloud_provider = aws
        ```

        To retrieve decision request with its name starting with `my`, the value should be:

        ```
        name like my%25
        ```

        If the parameter isn't provided, or if the value is empty, then all the decisions
        that the user has permission to see will be returned.

        Note. If the query is invalid, an error will be returned
      explode: true
      name: search
      in: query
      required: false
      examples:
        search:
          value: "name = my-decision and cloud_provider = aws"
      schema:
        type: string
      style: form
  securitySchemes:
    Bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  examples:
    USRegionExample:
      value:
        region: "us-east-1"
        cloud_provider: "aws"
        name: "serviceapitest"
    EURegionExample:
      value:
        region: "eu-west-1"
        cloud_provider: "aws"
        name: "serviceapitest"
    DecisionRequestExample:
      value:
        kind: Decision
        id: aba2a420-2afe-456c-b126-073bff1a2023
        version: 1
        href: /decisions/aba2a420-2afe-456c-b126-073bff1a2023/versions/1
        name: my-brilliant-decision
        description: A human readable description of my decision
        model:
          md5: 8eb41527a8f53e5d673771fa2159edac
          href: /decisions/aba2a420-2afe-456c-b126-073bff1a2023/versions/1/dmn
        configuration:
          key: value
        tags:
          key: value
        status: BUILDING
        submitted_at: "2020-10-05T12:51:24.053142Z"
    DecisionRequestFailedCreationStatusExample:
      value:
        id: f5e155b9-e1f4-4768-a99e-fc04c5036f0a
        kind: Decision
        version: 4
        href: /decisions/f5e155b9-e1f4-4768-a99e-fc04c5036f0a/versions/4
        name: my-brilliant-decision
        description: A human readable description of my decision
        model:
          md5: 8eb41527a8f53e5d673771fa2159edac
          href: /decisions/f5e155b9-e1f4-4768-a99e-fc04c5036f0a/versions/4/dmn
        configuration:
          key: value
        tags:
          key: value
        status: FAILED
        status_message: Failed to deploy Decision.
        submitted_at: "2020-10-05T12:51:24.053142Z"
    DecisionRequestPayloadExample:
      value:
        kind: Decision
        name: my-brilliant-decision
        description: A human readable description of my decision
        eventing:
          kafka:
            source: Some Kafka Endpoint
            sink: Some Kafka Endpoint
        model:
          dmn: <xml></xml>
        configuration:
          key: value
        tags:
          key: value
    CloudProviderExample:
      value:
        kind: "CloudProvider"
        id: "aws"
        name: "aws"
        display_name: "Amazon Web Services"
        enabled: true
    CloudRegionExample:
      value:
        kind: "CloudRegion"
        id: "us-east-1"
        display_name: "US East, N. Virginia"
        enabled: true
    ServiceAccountRequestExample:
      value:
        name: "my-app-sa"
        description: "service account for my app"
    ServiceAccountExample:
      value:
        id: "1"
        kind: "ServiceAccount"
        href: "/serviceaccounts/1"
        name: "my-app-sa"
        description: "service account for my app"
        clientID: "SA-121212"
        clientSecret: "secret"
        owner: "test-user"
        created_at: "2021-04-07T16:24:01+05:30"
    ServiceAccountByIdExample:
      value:
        id: "1"
        kind: "ServiceAccount"
        href: "/serviceaccounts/1"
        name: "my-app-sa"
        description: "service account for my app"
        clientID: "SA-121212"
        owner: "test-user"
        created_at: "2021-04-07T16:24:01+05:30"
    ServiceAccountListItemExample:
      value:
        id: "1"
        kind: "ServiceAccountListItem"
        href: "/serviceaccounts/1"
        name: "my-app-sa"
        description: "service account for my app"
        clientID: "SA-121212"
        owner: "test-user"
        created_at: "2021-04-07T16:24:01+05:30"
    MetricsRangeQueryExample:
      value:
        metric:
          __name__: decision_server_brokertopicmetrics_bytes_in_total
          strimzi_io_cluster: decision-service
          topic: __consumer_offsets
        values:
          - Timestamp: 1611670240000
            Value: 84154
          - Timestamp: 1611670260000
            Value: 85888
          - Timestamp: 1611670290000
            Value: 87622
    MetricsInstantQueryExample:
      value:
        metric:
          __name__: decision_server_brokertopicmetrics_bytes_in_total
          strimzi_io_cluster: decision-service
          topic: __consumer_offsets
        Timestamp: 1611670230000
        Value: 84154
    400DeletionExample:
      value:
        id: "103"
        kind: "Error"
        href: "/errors/103"
        code: "MGD-SERV-API-103"
        reason: "Synchronous action is not supported, use async=true parameter"
        operation_id: "1iWIimqGcrDuL61aUxIZqBTqNRa"
    400CreationExample:
      value:
        id: "103"
        kind: "Error"
        href: "/errors/103"
        code: "MGD-SERV-API-103"
        reason: "Synchronous action is not supported, use async=true parameter"
        operation_id: "1iWIimqGcrDuL61aUxIZqBTqNRa"
    400InvalidQueryExample:
      value:
        id: "203"
        kind: "Error"
        href: "/errors/23"
        code: "MGD-SERV-API-23"
        reason: "Failed to parse search query: Unable to list decision requests for api_decision_service: MGD-SERV-API-23: Failed to parse search query: Unsupported column name for search: 'id'. Supported column names are: region, name, cloud_provider, name, status. Query invalid: id = 123"
        operation_id: "1lWDGuybIrEnxrAem724gqkkiDv"
    404Example:
      value:
        id: "404"
        kind: "Error"
        href: "/errors/7"
        code: "MGD-SERV-API-7"
        reason: "The requested resource doesn't exist"
    404DeleteExample:
      value:
        id: "7"
        kind: "Error"
        href: "/errors/7"
        code: "MGD-SERV-API-7"
        reason: "DecisionResource with id='1iK3duVYIvv5YvLlyz1mGR3JyqN' not found"
        operation_id: "1iYO7g2g6HTdUKUa2ksH82kQD3y"
    401Example:
      value:
        id: "11"
        kind: "Error"
        href: "/errors/11"
        code: "MGD-SERV-API-11"
        reason: "Unable to verify JWT token: Required authorization token not found"
        operation_id: "1iY3UhEhwmXBpWPfI2lNekpd4ZD"
    403Example:
      value:
        id: "4"
        kind: "Error"
        href: "/errors/4"
        code: "MGD-SERV-API-4"
        reason: "User 'foo-bar' is not authorized to access the service."
        operation_id: "1lY3UiEhznXBpWPfI2lNejpd4YC"
    403MaxAllowedInstanceReachedExample:
      value:
        id: "5"
        kind: "Error"
        href: "/errors/5"
        code: "MGD-SERV-API-5"
        reason: "User 'foo-bar' has reached a maximum number of 6 allowed instances."
        operation_id: "1lY3UiEkxnXBpVPeI2oNejd3XB"
    409NameConflictExample:
      value:
        id: "36"
        kind: "Error"
        href: "/errors/36"
        code: "MGD-SERV-API-36"
        reason: "Decision cluster name is already used"
        operation_id: "6kY0UiEkzkXCzWPeI2oYehd3ED"
    500Example:
      value:
        id: "9"
        kind: "Error"
        href: "/errors/9"
        code: "MGD-SERV-API-9"
        reason: "Unspecified error"
        operation_id: "1ieELvF9jMQY6YghfM9gGRsHvEW"
    500DeleteExample:
      value:
        id: "9"
        kind: "Error"
        href: "/errors/9"
        code: "MGD-SERV-API-9"
        reason:
          "error deleting syncset: OCM-EX-9: failed to delete syncset: ext-serviceapi-1ix03lndlmq0qfc7sita5sljv8e
          for cluster id: 1g5d88q0lrcdv4g7alb7slfgnj3dhbsj%!(EXTRA *errors.Error=identifier
          is '404', code is 'CLUSTERS-MGMT-404' and operation identifier is '1g5or50viu07oealuehrkc26dgftj1ac':
          Cluster '1g5d88q0lrcdv4g7alb7slfgnj3dhbsj' not found)"
        operation_id: "1iYTsWry6nsqb2sNmFj5bXpD7Ca"
